*{
    font-family: 'Times New Roman', Times, serif;
    background-color: rebeccapurple;
    color: gold;
}
header{
    text-align: center;
    background-color: green;
    position: sticky;
    top: 0px;
    padding: 0px;
      }
footer{
    position: relative;
    bottom: 0px;
    background-color: green;
    line-height: 75px;
    width: 100%;
    margin: -20px;
}
li{
    display: inline;
}
a{
    color:orange;
    background-color: green;
    width: 100%;
}
figure{
    font-weight: bolder;
}
button{
background-color: darkgrey;
color: black;
border: solid 2px black;
}
.navigationBar {
    position: fixed;
    display: inline;
    right: 25px;
    top: 0px;
    list-style-type: none;
    color: black;
    background-color: green;
}
section{
text-align: center;
}
#headerText{
    background-color: green;
    line-height: 75px;
    width: 100%;
}
.doNotShow{
    visibility: hidden;
}
.pageBreak { 
    display: block;
    visibility: visible;
    margin: 0 auto;
    height: 1000px; /*this is to ensure the page has a scroll bar*/ 
    width: 0px;
    background-color: black;
  }
#contactUsTop{
    border: none 3px black;
    height: 335px;
}
#contactUsBottom{
    border: solid 3px darkgrey;
    height: 190px;
}