*{
    font-family: 'Times New Roman', Times, serif;
    background-color: rebeccapurple;
    color: gold;
    margin: 0;
}
header{
    text-align: center;
    background-color: green;
    position: sticky;
    top: 0px;
      }
footer{
    position: relative;
    background-color: green;
    line-height: 75px;
    width: 100%;
    text-align: center;
 }
li{
    display: inline;
    margin: 14px;
}
a{
    color:orange;
    background-color: green;
    width: 110%;
}
figure{
    font-weight: bolder;
    font-style: italic;
    margin: 15px;
}
input{
    margin: 3px;
    background-color: darkgrey;
}
button{
    background-color: darkgrey;
    color: black;
    border: solid 2px black;

}
.navigationBar {
    position: fixed;
    display: inline;
    right: 25px;
    top: 26px;
    list-style-type: none;
    color: black;
    background-color: green;
}
section{
    text-align: center;
}
h1{
    margin: 8px;
}
h2{
    margin: 15px;
}
#headerText{
    background-color: green;
    line-height: 75px;
    width: 100%;
}
.doNotShow{
    visibility: hidden;
}
.pageBreak { 
    display: none;
    visibility: hidden;
    margin: 0 auto;
    height: 1000px; /*this is to ensure the page has a scroll bar*/ 
    width: 0px;
    background-color: black;
  }
#contactUsTop{
    border: none 3px black;
    height: 335px;
    margin: 20px;
}
#contactUsBottom{
    border: none 3px darkgrey;
    height: 190px;
    top: 10px;
}
#contactUsInputs{
    margin: 10px;
}